{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <title>Home</title>
</head>
<body>
<div class="header">
</div>{% if user.is_authenticated %}

    <h1>Kante's Blog</h1>
    <div class="recent">Recent Posts</div>
    <div class="container">
    <ul class="list">
    {% for post in posts %}
        <li>
            <div class="title"><a href="/post/{{ post.pk }}">{{ post.title }}</a></div>
        </li>
    {% endfor %}
{% else %}
    <li><button type="button" class="btn btn-default btn-lg"><a href="{% url 'member:login' %}">Login</a></button></li>
{% endif %}

</ul>
</div>
</body>
</html>