{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Instagram</title>
</head>
<body>
<nav class="top-nav navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="{% url 'post:post_list' %}" class="navbar-brand">Instagram</a>
        </div>
        <div class="collapse navbar-collapse">
            <form action="" class="navbar-form navbar-left search-hashtag-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search-hashtag-input" placeholder="해시태그 검색...">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-nav-scroll">
                {% if user.is_authenticated %}
                    <li><a href="">Likes</a></li>
                    <li><a href="">Profile</a></li>
                    <li><a href="{% url 'member:logout' %}">Logout</a></li>
                        <div class="navbar-header navbar-form navbar-right navbar-btn">
                             <a class="add-post" href="{% url 'post:post_add' %}"><button type="button" class="btn btn-info ">Add Post</button></a>
                        </div>

{#                    <div class="header">#}
{#                    </div>#}
                {% else %}
                    <li><a href="{% url 'member:login' %}">Login</a></li>
                    <li><a href="{% url 'member:signup' %}">Signup</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
{#<ul class="nav navbar-nav navbar-right">#}
{#	{% if user.is_authenticated %}#}
{#	<li><a href="">Likes</a></li>#}
{#	<li><a href="">Profile</a></li>#}
{#	<li><a href="{% url 'member:logout' %}">Logout</a></li>#}
{#	{% else %}#}
{#	<li><a href="{% url 'member:login' %}">Login</a></li>#}
{#	<li><a href="">Signup</a></li>#}
{#	{% endif %}#}
{#</ul>#}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert-message alert
					{% if message.tags == 'info' %}
						alert-info
					{% elif message.tags == 'success' %}
						alert-success
					{% elif message.tags == 'warning' %}
						alert-warning
					{% elif message.tags == 'error' %}
						alert-danger
					{% endif %}
					">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h1>{% block title %}{% endblock %}</h1>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>