{% extends 'base.html' %}
{% block content %}
    <div class="form-container account-form-container">
        <form class="form account-form" action="" method="post" enctype="multipart/form-data">
            {#<form action="" method="post">#}

            <h2 class="post-add">새 글 작성</h2>

            <div class="form-group">
                <label for="input-title">제목: </label>
                <input name="title" id="input-title" type="text" class="form-control" placeholder="글 제목">
            </div>
            <div class="form-group">
                <label for="input-content">내용: </label>
                <textarea name="content" id="input-content" class="form-control" rows="5" placeholder="글 내용"></textarea>
            </div>

            {#        <button type="submit" class="btn btn-primary btn-lg">글 등록</button>#}
            <div class="preview">
                <div class="upload">
                    <span class="preview-bg"></span>
                    <p class="preview-title">포스트 이미지 추가</p>
{#                    {% if post %}#}
{#                        <p><img id="blah" src="{{ post.photo_url|default_if_none:'#'}}" style="width: 300px; height: 300px; object-fit: cover" ></p>#}
{#                    {% else %}#}
{#                        <p><img id="blah" src="" style="width: 300px; height: 300px; object-fit: cover" ></p>#}
{#                    {% endif %}#}
                </div>
            </div>
            {% csrf_token %}
            {{ form.as_p }}
            {#    <input class="submit_btn" type="submit" value="저장">#}

            {% include 'include/form.html' with form=post_form submit_title='글 등록' enctype='file' %}
            {#  </form>#}
            {#</div>#}
            {#	{% include 'include/form.html' with form=post_form submit_title='글 등록' enctype='file' %}#}

        </form>
    </div>
{#    <script type="text/javascript">#}
{#        function upload_img(input) {#}
{#            if (input.files && input.files[0]) {#}
{#                var reader = new FileReader();#}
{#                reader.onload = function (e) {#}
{#                    $('#img_id').attr('src', e.target.result);#}
{#                }#}
{#                reader.readAsDataURL(input.files[0]);#}
{#            }#}
{#            $(".preview-bg").remove();#}
{#            $(".preview-title").remove();#}
{#        }#}
{#        $("#id_photo").change(function(){#}
{#            upload_img(this);#}
{#        });#}
{#        $(document).on('click', '.upload', function(){#}
{#            $("#id_photo").click();#}
{#        });#}
{#        $('#id_photo').attr("required", true);#}
{#    </script>#}
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#img_id").on('change', function(){
                readURL(this);
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

              reader.readAsDataURL(input.files[0]);
            }
        }


    </script>

{% endblock %}