{% extends 'base.html' %}

{% block title %}Post create{% endblock %}
{% block content %}
     {% csrf_token %}

<div class="post-create">
        <div class="form-group">
                    <label for="input-title">제목: </label>
                    <input name="title" id="input-title" type="text" class="form-control" placeholder="글 제목">
                </div>
        <div class="form-group">
            <label for="input-content">내용: </label>
            <textarea name="content" id="input-content" class="form-control" rows="5" placeholder="글 내용"></textarea>
        </div>

	{% include 'include/form.html' with form=post_form submit_title='등록' enctype='file' %}
</div>

{% endblock %}