{% extends 'base.html' %}

{% block title %}Post List{% endblock %}
{% block content %}
<div class="row">
	{% for post in posts %}
		<div id="post-{{ post.pk }}">
			{% include 'include/post.html' with post_type='list' %}
		</div>
	{% endfor %}
</div>
{% endblock %}
{##}
{#{% load static %}#}
{#<!doctype html>#}
{#<html lang="ko">#}
{#<head>#}
{#	<meta charset="UTF-8">#}
{#	<meta name="viewport"#}
{#	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#	<meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{#	<link rel="stylesheet" href="{% static 'css/style.css' %}">#}
{#	<title>Instagram</title>#}
{#</head>#}
{#<body>#}
{#	<div class="container">#}
{#		<h1>Post List</h1>#}
{##}
{##}
{#		{% for post in posts %}#}
{#			<div class="panel panel-default post-item">#}
{#            <a href="{% url 'post:post_detail' post_pk=post.pk %}"><img src="{{ post.photo.url }}" alt="" class="post-image">#}
{#</a>#}
{#				<img src="{{ post.photo.url }}" alt="" class="post-image">#}
{#				<div class="panel-body">#}
{#                    <form action="{% url 'post:comment_create' post_pk=post.pk %}" method="POST" class="comment-form">#}
{#                        {% for comment in post.comments.all %}#}
{#                            <div class="comment">#}
{#                                <div class="date">{{ comment.created_date }}</div>#}
{#                                <strong>{{ comment.author }}</strong>#}
{#                                <p>{{ comment.content}}</p>#}
{#                                </div>#}
{#                        {% empty %}#}
{#                            <p>No comments here yet :(</p>#}
{#                        {% endfor %}#}
{#				{% csrf_token %}#}
{#				<input type="text" name="content" placeholder="댓글 달기...">#}
{#			</form>#}
{#				</div>#}
{#			</div>#}
{#		{% endfor %}#}
{#	</div>#}
{##}
{#</body>#}
{#</html>#}