{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div id="post-{{ post.pk }}">
        {% include 'include/post.html' with post_type='list' %}
        <p class="text-right"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><em>{{ post.created_at }}</em></p>
    </div>
    <a href="/">
        <button type="button" class="btn btn-primary to-main">To Main</button>
    </a>
    <form action="{% url 'post:post_delete' pk=post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Post</button>
    </form>
    </div>

{% endblock %}

{##}
{#{% load static %}#}
{#<!doctype html>#}
{#<html lang="ko">#}
{#<head>#}
{#	<meta charset="UTF-8">#}
{#	<meta name="viewport"#}
{#	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#	<meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{#	<link rel="stylesheet" href="{% static 'css/style.css' %}">#}
{#	<title>Instagram</title>#}
{#</head>#}
{#<body>#}
{#	<div class="container">#}
{#		{% if messages %}#}
{#			{% for message in messages %}#}
{#				<div class="alert-message alert#}
{#					{% if message.tags == 'success' %}#}
{#						alert-success#}
{#					{% elif message.tags == 'error' %}#}
{#						alert-danger#}
{#					{% endif %}#}
{#					">{{ message }}</div>#}
{#			{% endfor %}#}
{#		{% endif %}#}
{##}
{#		<div class="panel panel-default post-item">#}
{#			<img src="{{ post.photo.url }}" alt="" class="post-image">#}
{#			<div class="panel-body">#}
{#				{% if post.comments.exists %}#}
{#				<ul class="comment-list">#}
{#					{% for comment in post.comments.all %}#}
{#					<li class="comment">#}
{#						<span class="comment-author">{{ comment.author }}</span>#}
{#						<span class="comment-content">{{ comment.content }}</span>#}
{#					</li>#}
{#					{% endfor %}#}
{#				</ul>#}
{#				<hr>#}
{#				{% endif %}#}
{#				<form action="{% url 'post:comment_create' post_pk=post.pk %}" method="POST" class="comment-form">#}
{#					{% csrf_token %}#}
{#					{{ comment_form.content }}#}
{#				</form>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</body>#}
{#</html>#}